<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<httpErrors errorMode="Custom" defaultResponseMode="File">
			<remove statusCode="404" />
			<error statusCode="404" path="/404.html" responseMode="ExecuteURL" />
		</httpErrors>
		<rewrite>
			<rules>
				<rule name="static assets" stopProcessing="true">
					<match url="([\S]+[.]((html?)|(svg)|(js)|(css)|(png)|(gif)|(jpe?g)|(json)))" />
				</rule>
				<rule name="Hide .html ext">
					<match ignoreCase="true" url="^(.*)"/>
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
						<add input="{REQUEST_FILENAME}.html" matchType="IsFile"/>
					</conditions>
					<action type="Rewrite" url="{R:0}.html"/>
				</rule>
				<rule name="Redirecting .html ext" stopProcessing="true">
					<match url="^(.*).html"/>
					<conditions logicalGrouping="MatchAny">
						<add input="{URL}" pattern="(.*).html"/>
					</conditions>
					<action type="Redirect" url="{R:1}"/>
				</rule>
				<rule name="Rewrite URLs with trailing slash to .html" stopProcessing="true">
                    <match url="^(.*)/$" />
                    <action type="Rewrite" url="{R:1}.html" />
                </rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>