<div class="flex flex-col items-center justify-center p-3">
  <div class="flex justify-end w-full !mr-16 !mb-4 gap-2">
    <div class="flex flex-col justify-end">
      <button class="outline px-6 py-3 rounded-2xl shadow-lg transition">
        Get Started
      </button>
    </div>
    <img src="images/white-arrow-element-png.webp" class="rotate-180 max-h-50" />
  </div>
  <div
    class="w-full max-w-lg bg-white p-6 !mb-6 rounded-lg shadow-lg text-black text-center"
  >
    <div echarts [options]="chartOption" class="h-100 w-full"></div>
  </div>
  <p class="text-lg text-center max-w-md mb-6">
    Transform your bank data into insightful, interactive graphs. Visualize your
    finances like never before.
  </p>

  <div class="max-w-lg text-center mt-6">
    <h3 class="text-xl font-semibold">Why Money Mosaic?</h3>
    <p class="mt-2 text-sm">
      - Easily visualize your financial data<br />
      - Gain insights into spending habits<br />
      - Make informed financial decisions
    </p>
  </div>
</div>
